@media only screen and (max-width: 1350px) {
    .NavBarSection {
        .NavBar {
            left: 55%;
        }

        .NavLink {
            font-size: 2vh;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .NavBarSection {
        height: 10%;

        .BusinessLogo {
            left: 2%;
            top: 5%;
            font-size: 4vh;
        }

        .BusinessName {
            left: 5%;
            top: 10%;
            font-size: 4vh;
        }

        .NavBar {
            top: 70%;
            width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            .NavLink {
                font-size: 1.7vh;
            }
        }
    }
}



@media only screen and (max-width: 950px) {
    .WelcomeSection {
        .Main {
            .Logo {
                font-size: 8vh;
            }

            .Name {
                font-size: 4vh;
            }

            .Slogan {
                top: 47%;
            }

            .SpecialsButton {
                top: 80%;
            }

        }
    }

    .OfferSection {
        height: 125vh;

        .Title {
            font-size: 4vh;
        }

        hr {
            top: 5%;
        }

        .Info {
            top: 10%;
            font-size: 2vh;
            width: 80%;
        }

        .OffersList {
            top: 20%;

            .Offers {
                padding-top: 5%;

                .OfferDesc {
                    font-size: 2vh;
                }
            }
        }
    }

    .PageDividerSection {
        .Info {
            top: 30%;
            font-size: 1.7vh;
        }

        .ReserveBtn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }


    .ShopSection {
        .Title {
            top: 2.5%;
            font-size: 4vh;
        }

        hr {
            top: 7%;
        }

        .Container {
            top: 10%;
            left: 53%;

            .frame {
                height: 30vh;
                width: 37vh;
            }

            .InfoContainer {
                top: -32%;
            }

            .MedTitle {
                font-size: 3vh;
            }

            .Info {
                font-size: 1.7vh;
            }
        }

        .SpecialsTitle {
            top: 46%;
        }

        .SpecialsHR {
            top: 51%;
        }

        .SpecialsInfo {
            top: 53%;
            font-size: 2vh;
            width: 75%;
        }


        .SpecialCardContainer {
            position: absolute;
            left: 55%;
            top: 65%;
            transform: translateX(-50%);
            width: 75%;
            height: 10%;

            .SpecialCard {
                width: 100%;

                .ColInfoTitle {
                    font-size: 3vh;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                }

                .ColInfoIcon {
                    font-size: 6vh;
                }

                .Button {
                    top: 75%;
                    text-align: center;
                    width: 70%;
                    height: 20%;
                    font-size: 2vh;
                    padding: .5rem;

                    a {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }

    .SpecialsPopup {
        .Popup {
            .PopupContainer {
                .InfoPopup {
                    .Title {
                        top: 5%;
                        left: 5%;
                        width: 75%;
                        font-size: 4vh;
                    }

                    .Info {
                        top: 25%;
                        left: 5%;
                        font-size: 2vh;
                        width: 90%;
                        color: #143642;
                    }

                    .OrderBtn {
                        top: 50%;
                        left: 5%;
                    }

                    .CloseBtn {
                        left: 85%;
                    }
                }

                .BGPopup {
                    clip-path: polygon(100% 40%, 100% 100%, 0 100%, 0% 75%);
                }
            }
        }
    }

    .TeamSection {
        .Title {
            font-size: 4vh;
        }

        hr {
            top: 22%;
        }

        .Info {
            font-size: 2vh;
            top: 30%;
            width: 80%;
        }

        .ChefsContainer {
            width: 90%;
            position: absolute;
            left: 53%;


            .Chef {
                .ChefImg {
                    width: 90%;
                }

                .ChefName,
                .ChefDesc {
                    font-size: 2vh;
                }

                .Socials {
                    position: absolute;
                    left: 63%;
                    transform: translateX(-50%);
                    width: 100%;

                    i {
                        font-size: 3vh;
                    }
                }
            }
        }
    }

    .ContactSection {
        height: 140vh;
        
        .Title {
            font-size: 4vh;
            top: 2%;
            
            width: 100%;
        }

        hr {
            top: 6%;
        }

        .Container {
            top: 8%;
            left: 0%;
            position: absolute;
            transform: translateX(-50%);

            .RightContainer {
                top: 0%;
                width: 100%;
                
                .Details{
                    height: 15%;
                    .Icon{
                        font-size: 6vh;
                    }
                    .Info{
                        font-size: 1.7vh;
                    }
                }
            }

            .LeftContainer {
                position: relative;
                left: 50%;
                top: 45%;
                width: 100%;
                transform: translateX(25%);
                
                font-size: 2vh;
                
                .InfoTitle{
                    position: absolute;
                    width: 100%;
                    top: 0%;
                    left: 50%;
                    transform: translateX(-50%);
                    
                    font-size: 2.7vh;
                }
                
                .Info{
                    top: 10%;
                    width: 100%;
                    
                    font-size: 2vh;
                }
                
                .QueryForm{
                    width: 100%;
                    .Input{
                        width: 90%
                    }
                }
            }
        }
    }
}