.Button {

    background: $Light-Brown;
    color: $Beige;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;

    &::after {
        content: " \f30f";
        font-family: "Ion-Flaticon";
        font-weight: 400;
        opacity: 0;
    }

    &:hover {
        background: $Dark-Blue;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px $Dark-Blue;
        padding: 1.5rem 2rem 1.5rem 2rem;

        &::after {
            opacity: 1;
            transition: all 0.5s;
        }
    }
}
