.frame {
    display: grid;
    height: 40vh;
    background: $Beige;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.frame .slice {
    width: calc(100% + 0.5px);
    height: calc(100% + 0.5px);
    background-image: url(/Assets/Images/Restaurant.jpeg);
    background-size: 800% 800%;
    position: relative;
}

.frame .slice:nth-of-type(1) {
    transition: all 1.57136235s;
    background-position: 0% 0%;
    transform: translateX(-15.01800558vw) translateY(-20.25020226vh) rotate(0.96701499turn);
}

.frame .slice:nth-of-type(2) {
    transition: all 1.40150589s;
    background-position: 14.28571429% 0%;
    transform: translateX(-11.78963256vw) translateY(-0.99171107vh) rotate(0.06522966turn);
}

.frame .slice:nth-of-type(3) {
    transition: all 1.70500027s;
    background-position: 28.57142857% 0%;
    transform: translateX(-27.66703824vw) translateY(3.09194332vh) rotate(0.07529111turn);
}

.frame .slice:nth-of-type(4) {
    transition: all 1.56355394s;
    background-position: 42.85714286% 0%;
    transform: translateX(-34.30415787vw) translateY(1.06047534vh) rotate(0.45630966turn);
}

.frame .slice:nth-of-type(5) {
    transition: all 1.57605031s;
    background-position: 57.14285714% 0%;
    transform: translateX(-34.46537326vw) translateY(21.94920343vh) rotate(0.71764891turn);
}

.frame .slice:nth-of-type(6) {
    transition: all 1.94210824s;
    background-position: 71.42857143% 0%;
    transform: translateX(25.66422853vw) translateY(23.88130899vh) rotate(0.12721814turn);
}

.frame .slice:nth-of-type(7) {
    transition: all 1.0392041s;
    background-position: 85.71428571% 0%;
    transform: translateX(-47.5221017vw) translateY(-3.44847212vh) rotate(0.56547093turn);
}

.frame .slice:nth-of-type(8) {
    transition: all 1.27658173s;
    background-position: 100% 0%;
    transform: translateX(-40.18918504vw) translateY(10.68631358vh) rotate(0.73949481turn);
}

.frame .slice:nth-of-type(9) {
    transition: all 1.6419607s;
    background-position: 0% 14.28571429%;
    transform: translateX(40.06241558vw) translateY(-0.3431604vh) rotate(0.9662525turn);
}

.frame .slice:nth-of-type(10) {
    transition: all 1.63615551s;
    background-position: 14.28571429% 14.28571429%;
    transform: translateX(27.26025061vw) translateY(-20.28224768vh) rotate(0.42031273turn);
}

.frame .slice:nth-of-type(11) {
    transition: all 1.35872187s;
    background-position: 28.57142857% 14.28571429%;
    transform: translateX(-36.06729415vw) translateY(15.15924758vh) rotate(0.21609257turn);
}

.frame .slice:nth-of-type(12) {
    transition: all 1.49633152s;
    background-position: 42.85714286% 14.28571429%;
    transform: translateX(36.23634077vw) translateY(-14.80074767vh) rotate(0.48376615turn);
}

.frame .slice:nth-of-type(13) {
    transition: all 1.02003387s;
    background-position: 57.14285714% 14.28571429%;
    transform: translateX(36.38001251vw) translateY(13.64984582vh) rotate(0.08570719turn);
}

.frame .slice:nth-of-type(14) {
    transition: all 1.57295314s;
    background-position: 71.42857143% 14.28571429%;
    transform: translateX(2.58699664vw) translateY(23.72993783vh) rotate(0.47424078turn);
}

.frame .slice:nth-of-type(15) {
    transition: all 1.91250591s;
    background-position: 85.71428571% 14.28571429%;
    transform: translateX(49.09532579vw) translateY(16.2371503vh) rotate(0.6613552turn);
}

.frame .slice:nth-of-type(16) {
    transition: all 1.44475473s;
    background-position: 100% 14.28571429%;
    transform: translateX(26.59218444vw) translateY(5.50075271vh) rotate(0.65866231turn);
}

.frame .slice:nth-of-type(17) {
    transition: all 1.30438035s;
    background-position: 0% 28.57142857%;
    transform: translateX(36.5939286vw) translateY(-7.84688127vh) rotate(0.83216779turn);
}

.frame .slice:nth-of-type(18) {
    transition: all 1.0683666s;
    background-position: 14.28571429% 28.57142857%;
    transform: translateX(-36.8623746vw) translateY(3.52433701vh) rotate(0.59151437turn);
}

.frame .slice:nth-of-type(19) {
    transition: all 1.18023827s;
    background-position: 28.57142857% 28.57142857%;
    transform: translateX(-39.80210259vw) translateY(-13.84593218vh) rotate(0.64115805turn);
}

.frame .slice:nth-of-type(20) {
    transition: all 1.92775279s;
    background-position: 42.85714286% 28.57142857%;
    transform: translateX(-0.72750787vw) translateY(11.59762239vh) rotate(0.28360862turn);
}

.frame .slice:nth-of-type(21) {
    transition: all 1.96379246s;
    background-position: 57.14285714% 28.57142857%;
    transform: translateX(-10.62085108vw) translateY(23.22750922vh) rotate(0.17696163turn);
}

.frame .slice:nth-of-type(22) {
    transition: all 1.30106766s;
    background-position: 71.42857143% 28.57142857%;
    transform: translateX(-11.37423503vw) translateY(-0.87964934vh) rotate(0.951447turn);
}

.frame .slice:nth-of-type(23) {
    transition: all 1.38281356s;
    background-position: 85.71428571% 28.57142857%;
    transform: translateX(-19.97150344vw) translateY(0.33047012vh) rotate(0.45398709turn);
}

.frame .slice:nth-of-type(24) {
    transition: all 1.39050383s;
    background-position: 100% 28.57142857%;
    transform: translateX(4.54707874vw) translateY(10.23527599vh) rotate(0.74581951turn);
}

.frame .slice:nth-of-type(25) {
    transition: all 1.80799493s;
    background-position: 0% 42.85714286%;
    transform: translateX(-4.5453308vw) translateY(-19.70584612vh) rotate(0.19185869turn);
}

.frame .slice:nth-of-type(26) {
    transition: all 1.80636703s;
    background-position: 14.28571429% 42.85714286%;
    transform: translateX(41.65521962vw) translateY(-11.18391523vh) rotate(0.46056626turn);
}

.frame .slice:nth-of-type(27) {
    transition: all 1.06673123s;
    background-position: 28.57142857% 42.85714286%;
    transform: translateX(30.13567523vw) translateY(5.55015952vh) rotate(0.43962349turn);
}

.frame .slice:nth-of-type(28) {
    transition: all 1.70401041s;
    background-position: 42.85714286% 42.85714286%;
    transform: translateX(9.96513801vw) translateY(-2.31507808vh) rotate(0.00900149turn);
}

.frame .slice:nth-of-type(29) {
    transition: all 1.25407233s;
    background-position: 57.14285714% 42.85714286%;
    transform: translateX(16.89622291vw) translateY(13.75338538vh) rotate(0.52415108turn);
}

.frame .slice:nth-of-type(30) {
    transition: all 1.03566245s;
    background-position: 71.42857143% 42.85714286%;
    transform: translateX(49.84148073vw) translateY(-13.3650732vh) rotate(0.15195237turn);
}

.frame .slice:nth-of-type(31) {
    transition: all 1.41170757s;
    background-position: 85.71428571% 42.85714286%;
    transform: translateX(-45.47801893vw) translateY(1.27975281vh) rotate(0.71006158turn);
}

.frame .slice:nth-of-type(32) {
    transition: all 1.20045459s;
    background-position: 100% 42.85714286%;
    transform: translateX(38.51633538vw) translateY(1.7587146vh) rotate(0.18729153turn);
}

.frame .slice:nth-of-type(33) {
    transition: all 1.82448238s;
    background-position: 0% 57.14285714%;
    transform: translateX(-42.59948814vw) translateY(4.44558466vh) rotate(0.05169267turn);
}

.frame .slice:nth-of-type(34) {
    transition: all 1.8796981s;
    background-position: 14.28571429% 57.14285714%;
    transform: translateX(-24.97945223vw) translateY(-24.88135319vh) rotate(0.17203419turn);
}

.frame .slice:nth-of-type(35) {
    transition: all 1.40657392s;
    background-position: 28.57142857% 57.14285714%;
    transform: translateX(7.52522756vw) translateY(-10.20551508vh) rotate(0.20884155turn);
}

.frame .slice:nth-of-type(36) {
    transition: all 1.61723863s;
    background-position: 42.85714286% 57.14285714%;
    transform: translateX(23.17593173vw) translateY(3.54196856vh) rotate(0.27223211turn);
}

.frame .slice:nth-of-type(37) {
    transition: all 1.11033839s;
    background-position: 57.14285714% 57.14285714%;
    transform: translateX(5.06167427vw) translateY(-0.84886003vh) rotate(0.52077978turn);
}

.frame .slice:nth-of-type(38) {
    transition: all 1.9422406s;
    background-position: 71.42857143% 57.14285714%;
    transform: translateX(-40.26300402vw) translateY(10.22992948vh) rotate(0.9319748turn);
}

.frame .slice:nth-of-type(39) {
    transition: all 1.28805257s;
    background-position: 85.71428571% 57.14285714%;
    transform: translateX(-24.19127351vw) translateY(7.92232536vh) rotate(0.94390107turn);
}

.frame .slice:nth-of-type(40) {
    transition: all 1.63156855s;
    background-position: 100% 57.14285714%;
    transform: translateX(49.38777305vw) translateY(12.14019586vh) rotate(0.17324131turn);
}

.frame .slice:nth-of-type(41) {
    transition: all 1.32678041s;
    background-position: 0% 71.42857143%;
    transform: translateX(27.33388813vw) translateY(24.12162679vh) rotate(0.5240682turn);
}

.frame .slice:nth-of-type(42) {
    transition: all 1.24001721s;
    background-position: 14.28571429% 71.42857143%;
    transform: translateX(11.8454712vw) translateY(4.150374vh) rotate(0.31620042turn);
}

.frame .slice:nth-of-type(43) {
    transition: all 1.77011597s;
    background-position: 28.57142857% 71.42857143%;
    transform: translateX(17.10197023vw) translateY(-12.6285534vh) rotate(0.03213604turn);
}

.frame .slice:nth-of-type(44) {
    transition: all 1.99713883s;
    background-position: 42.85714286% 71.42857143%;
    transform: translateX(5.67749115vw) translateY(4.00492487vh) rotate(0.50825877turn);
}

.frame .slice:nth-of-type(45) {
    transition: all 1.05093504s;
    background-position: 57.14285714% 71.42857143%;
    transform: translateX(-31.05991187vw) translateY(-23.08197495vh) rotate(0.40342562turn);
}

.frame .slice:nth-of-type(46) {
    transition: all 1.41169179s;
    background-position: 71.42857143% 71.42857143%;
    transform: translateX(12.78898337vw) translateY(-11.49444252vh) rotate(0.55387418turn);
}

.frame .slice:nth-of-type(47) {
    transition: all 1.75325966s;
    background-position: 85.71428571% 71.42857143%;
    transform: translateX(-0.70374966vw) translateY(-20.12795419vh) rotate(0.92029364turn);
}

.frame .slice:nth-of-type(48) {
    transition: all 1.36681243s;
    background-position: 100% 71.42857143%;
    transform: translateX(19.51093709vw) translateY(-15.26901802vh) rotate(0.8829494turn);
}

.frame .slice:nth-of-type(49) {
    transition: all 1.56501141s;
    background-position: 0% 85.71428571%;
    transform: translateX(-28.39237126vw) translateY(7.00751553vh) rotate(0.91795343turn);
}

.frame .slice:nth-of-type(50) {
    transition: all 1.35324861s;
    background-position: 14.28571429% 85.71428571%;
    transform: translateX(-14.7819529vw) translateY(-10.62229104vh) rotate(0.99463033turn);
}

.frame .slice:nth-of-type(51) {
    transition: all 1.68040158s;
    background-position: 28.57142857% 85.71428571%;
    transform: translateX(-46.32581054vw) translateY(2.3384045vh) rotate(0.48799097turn);
}

.frame .slice:nth-of-type(52) {
    transition: all 1.88299991s;
    background-position: 42.85714286% 85.71428571%;
    transform: translateX(15.18864892vw) translateY(-16.30906815vh) rotate(0.99158173turn);
}

.frame .slice:nth-of-type(53) {
    transition: all 1.53405613s;
    background-position: 57.14285714% 85.71428571%;
    transform: translateX(26.81898456vw) translateY(21.61152742vh) rotate(0.66723162turn);
}

.frame .slice:nth-of-type(54) {
    transition: all 1.62815856s;
    background-position: 71.42857143% 85.71428571%;
    transform: translateX(-48.47496702vw) translateY(-10.96468631vh) rotate(0.51237557turn);
}

.frame .slice:nth-of-type(55) {
    transition: all 1.05719504s;
    background-position: 85.71428571% 85.71428571%;
    transform: translateX(3.03918171vw) translateY(0.94839366vh) rotate(0.39805226turn);
}

.frame .slice:nth-of-type(56) {
    transition: all 1.82704499s;
    background-position: 100% 85.71428571%;
    transform: translateX(-26.15755148vw) translateY(-19.70761442vh) rotate(0.28564804turn);
}

.frame .slice:nth-of-type(57) {
    transition: all 1.93940218s;
    background-position: 0% 100%;
    transform: translateX(7.11884701vw) translateY(-0.89182795vh) rotate(0.08854091turn);
}

.frame .slice:nth-of-type(58) {
    transition: all 1.96973915s;
    background-position: 14.28571429% 100%;
    transform: translateX(-1.58426067vw) translateY(-24.51227601vh) rotate(0.67508278turn);
}

.frame .slice:nth-of-type(59) {
    transition: all 1.55809487s;
    background-position: 28.57142857% 100%;
    transform: translateX(-36.38780113vw) translateY(-17.83612648vh) rotate(0.89721941turn);
}

.frame .slice:nth-of-type(60) {
    transition: all 1.24113011s;
    background-position: 42.85714286% 100%;
    transform: translateX(-15.00304334vw) translateY(8.83776418vh) rotate(0.23581824turn);
}

.frame .slice:nth-of-type(61) {
    transition: all 1.08876962s;
    background-position: 57.14285714% 100%;
    transform: translateX(-46.88129215vw) translateY(-11.05167069vh) rotate(0.1544786turn);
}

.frame .slice:nth-of-type(62) {
    transition: all 1.0835554s;
    background-position: 71.42857143% 100%;
    transform: translateX(-5.17172515vw) translateY(-11.41901533vh) rotate(0.48018972turn);
}

.frame .slice:nth-of-type(63) {
    transition: all 1.53448304s;
    background-position: 85.71428571% 100%;
    transform: translateX(-14.11334677vw) translateY(1.98349564vh) rotate(0.07876334turn);
}

.frame .slice:nth-of-type(64) {
    transition: all 1.45527398s;
    background-position: 100% 100%;
    transform: translateX(23.43588897vw) translateY(1.37567689vh) rotate(0.27672714turn);
}

.Container:hover .slice {
    transform: translate(0, 0) rotate(0);
}
