.NavBarSection {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 7%;
    overflow: hidden;

    z-index: 3;
    background-color: rgba(247, 236, 228, .7);

    .BusinessLogo {
        position: absolute;
        top: -15%;
        left: 15%;

        font-family: "Gastronomy-Flaticon";
        font-style: normal;
        font-size: 6vh;
        color: $Dark-Blue;
    }


    .BusinessName {
        position: absolute;
        left: 16.5%;

        font-family: LobsterTwo-Bold;
        font-size: 5vh;
        color: $Dark-Blue;
    }

    .NavBar {
        position: relative;
        top: 25%;
        left: 60%;
        width: 40%;

        list-style-type: none;
    }

    .NavLink {
        height: 10%;

        display: inline;
        font-size: 2.5vh;
        padding: 2%;
        font-family: LobsterTwo-Regular;
        color: $Dark-Blue;

        /*Slowly transition to button background*/
        transition-duration: .2s;
        transition-timing-function: ease-out;

        a {
            text-decoration: none;
            color: $Dark-Blue;
        }
    }

    .NavLink:hover {
        /*Button Shape*/
        border-top-left-radius: 35px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 35px;

        transition-timing-function: ease-in;
        background: rgba(20, 54, 66, .7);
        padding: 2%;
        display: inline;
        color: $Beige;

        a {
            color: $Beige;
        }
    }

    .active {
        /*Button Shape*/
        border-top-left-radius: 35px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 35px;

        transition-timing-function: ease-in;
        background: rgba(183, 105, 53, .7);
        padding: 2%;
        display: inline;
        color: $Beige;

        a {
            color: $Beige;
        }
    }

    .active .NavLink.a {
        color: $Beige;
    }
}
