.OfferSection {
    position: relative;
    height: 70vh;

    background-color: $Beige;
    text-align: center;
    font-family: "Open Sans";

    .Title {
        color: $Light-Brown;
        @include HeaderSize;
    }

    hr {
        top: 10%;
        width: 20%;
        height: .3vh;
        
        @include CenterX;
        margin: 0 auto;
        margin-top: 40px;
        border: 0;
        background-image: linear-gradient(to right, rgba(20, 54, 66, 0), rgba(20, 54, 66, 0.75), rgba(255, 255, 255, 0));
    }

    .Info {
        top: 25%;
        width: 35%;
        
        @include RegularSize;
        @include CenterX;
    }

    .OffersList {
        top: 40%;
        width: 60%;
        height: 45%;

        @include CenterX;
    }

    .Offers {
        text-align: center;
        color: $Dark-Blue;
    }

    .OfferIcon {
        font-family: "Gastronomy-Flaticon";
        font-style: normal;
        @include HeaderSize;
        color: $Light-Brown;
    }

    .OfferTitle {
        @include RegularPadding;
        font-weight: 700;
    }

    .OfferDesc {
        @include RegularPadding;
        font-size: 2vh;
    }
}
