.ShopSection {
    position: relative;
    width: 100%;
    height: 250vh;

    background-color: $Beige;
    font-family: "Open Sans";

    .Container {
        top: 15%;
        width: 80%;
        height: 100%;

        @include CenterX;
    }

    hr {
        top: 10%;
        width: 20%;
        height: .3vh;

        @include CenterX;
    }

    .Title {
        top: 5%;

        @include CenterX;
        text-align: center;
        color: $Light-Brown;
        @include HeaderSize;
    }

    .InfoContainer {
        top: 5%;

        @include RegularSize;
        color: $Dark-Blue;

        .MedTitle {
            font-weight: 700;
        }

        .WhyTitle {
            padding-top: 2%;
        }
    }

    .SpecialsTitle {
        top: 40%;
    }

    .SpecialsHR {
        top: 45%;
    }

    .SpecialsInfo {
        top: 50%;
        @include CenterX;

        text-align: center;
        @include RegularSize;
        color: $Dark-Blue;
    }

    .SpecialCardContainer {
        position: absolute;
        top: 60%;
        width: 100%;
        height: 20%;
    }

    .SpecialCard {
        width: 30%;
        height: 100%;

        margin: 2% 5% 2% 5%;
        box-shadow: 0 1.5rem 4rem rgba($Dark-Blue, .75);
        border-radius: 20px;
        background-color: $Dark-Blue;
        overflow: hidden;

        img {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;

            opacity: .5;
            clip-path: polygon(0 0, 100% 0, 100% 60%, 0 75%);
        }

        .MoreBtn {
            position: absolute;
            top: 75%;
            @include CenterX;

            opacity: 1;

            &:hover {
                background: $Beige;
                color: $Dark-Blue;
            }
        }

        .ColInfoTitle {
            position: absolute;

            font-family: "Gastronomy-Flaticon";
            color: $Beige;
            font-size: 4vh;
            margin: 5%;
        }

        .ColInfoIcon {
            position: absolute;
            top: 25%;
            width: auto;
            height: auto;

            font-family: "Gastronomy-Flaticon";
            color: $Beige;
            font-size: 10vh;
            font-style: normal;
            @include CenterX;
        }
    }
}
