.WelcomeSection {

    @include PageSize;
    background-color: $Beige;

    .Main {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 97%;
        clip-path: polygon(0 0, 100% 0%, 100% 76%, 0% 100%);
        text-align: center;


        background-image: linear-gradient(rgba(183, 105, 53, 0.5), rgba(20, 54, 66, 0.3)), url(Assets/Images/FoodTable.jpg);
        color: $Beige;
        font-family: 'Open Sans', sans-serif;

        .Logo {
            font-family: "Breakfast-Flaticon";
            top: 20%;
            @include IconSize;
            display: inline;
            font-style: normal;
            @include CenterX;

        }

        .Name {
            top: 35%;

            @include CenterX;
            @include HeaderSize;
        }

        .Slogan {
            top: 45%;

            @include RegularSize;
            @include CenterX;
        }
        
        .SpecialsBtn{
            top: 60%;
            @include CenterX;
        }
    }
}
